.frame-2999 {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #171f23;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 10px;
  font-family: Inter, Arial;
  font-size: .7rem;
  font-weight: 500;
  line-height: 17px;
  display: flex;
}

.sidebar-navigation {
  height: 65%;
  background-color: #171f23;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: stretch;
  line-height: 24px;
  display: flex;
}

.divider {
  width: 1px;
  height: 964px;
  object-fit: cover;
}

.content {
  height: 100%;
  border: 1px solid #1b262c;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 26px 2px 32px 16px;
  display: flex;
}

.flex-container {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 20px;
  display: flex;
}

.ellipse {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.logo {
  margin-top: 1px;
}

.frame-3 {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 68px;
  margin-left: 45px;
}

.nav-item-base-instance-1, .nav-item-base-1-instance {
  width: 90%;
  flex-basis: 4%;
}

.flex-container-1 {
  color: #eee;
  width: 35%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-left: 12px;
  display: flex;
}

.clipboard {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.text {
  margin-top: 1px;
}

.flex-container-2 {
  width: 65%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.eye {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.text-1 {
  color: #98a2b3;
  margin-bottom: 1px;
}

.frame-3028 {
  height: 80%;
  background-color: #487fe8;
  border-radius: 36px;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-left: 4px;
  line-height: 7px;
  display: flex;
}

.nav-item-base-2-instance {
  width: 90%;
  flex-basis: 4%;
}

.flex-container-3 {
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 336px;
  margin-left: 12px;
  display: flex;
}

.eye-1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.text-2 {
  color: #98a2b3;
  margin-bottom: 1px;
}

.frame-3028-1 {
  height: 80%;
  background-color: #487fe8;
  border-radius: 36px;
  flex-direction: row;
  flex-basis: 27%;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-left: 5px;
  line-height: 7px;
  display: flex;
}

.nav-item-base-3-instance {
  width: 90%;
  flex-basis: 4%;
  margin-top: 37px;
}

.nav-item-base-4-instance-1 {
  width: 90%;
  flex-basis: 4%;
  margin-bottom: 5px;
}

.account {
  width: 90%;
  border: 1px solid #222831;
  flex-direction: row;
  flex-basis: 7%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1px;
  padding-top: 2px;
  padding-left: 8px;
  display: flex;
}

.avatar-label-group-instance-1 {
  height: 65%;
  flex-basis: 84%;
}

.flex-container-4 {
  height: 95%;
  flex-direction: column;
  flex-basis: 76%;
  justify-content: space-between;
  align-self: center;
  align-items: flex-end;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 32px;
  display: flex;
}

.flex-container-5 {
  width: 100%;
  flex-direction: row;
  flex-basis: 3%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  margin-left: 1px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 38px;
  display: flex;
}

.button-group-instance-1 {
  height: 100%;
  flex-basis: 21%;
}

.flex-container-6 {
  color: #f9fafb;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3px;
  margin-left: 1px;
  font-size: 1.2rem;
  line-height: 28px;
  display: flex;
}

.frame {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.frame-8 {
  width: 100%;
  background-color: #151c20;
  border: 1px solid #393e46;
  border-radius: 12px;
  flex-direction: column;
  flex-basis: 51%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 17px;
  padding: 7px 7px 7px 16px;
  display: flex;
}

.flex-container-7 {
  width: 100%;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 2px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
}

.table-header-cell {
  height: 100%;
  background-color: #393e46;
  border-radius: 8px 0 0 8px;
  flex-direction: row;
  flex-basis: 29%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.text-3 {
  text-transform: capitalize;
}

.table-header-cell-1 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 21px;
  display: flex;
}

.text-4 {
  text-transform: capitalize;
}

.table-header-cell-2 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-left: 6px;
  display: flex;
}

.text-5 {
  text-transform: capitalize;
  margin-left: 3px;
}

.table-header-cell-3 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  display: flex;
}

.text-6 {
  text-transform: capitalize;
  margin-left: 1px;
}

.table-header-cell-4 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 17%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 21px;
  display: flex;
}

.text-7 {
  text-transform: capitalize;
}

.table-header-cell-5 {
  height: 100%;
  background-color: #393e46;
  border-radius: 0 8px 8px 0;
  flex-direction: row;
  flex-basis: 11%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 21px;
  display: flex;
}

.text-8 {
  text-transform: capitalize;
}

.flex-container-8 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 29%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 4px;
  display: flex;
}

.text-9 {
  margin-top: 1px;
}

.table-cell-1 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: center;
  align-items: stretch;
  padding-top: 23px;
  padding-right: 16px;
  display: flex;
}

.table-cell-2, .table-cell-3 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 24px;
  padding-left: 21px;
  display: flex;
}

.table-cell-4 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 17%;
  justify-content: center;
  align-items: stretch;
  padding-top: 24px;
  display: flex;
}

.table-cell-5 {
  width: 115px;
  height: 179px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-9 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-6 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 29%;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
  display: flex;
}

.table-cell-7 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: center;
  align-items: stretch;
  padding-top: 23px;
  padding-right: 16px;
  display: flex;
}

.table-cell-8, .table-cell-9 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 24px;
  padding-left: 21px;
  display: flex;
}

.table-cell-10 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 17%;
  justify-content: center;
  align-items: stretch;
  padding-top: 24px;
  display: flex;
}

.table-cell-1 {
  width: 115px;
  height: 179px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-10 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 13px;
  display: flex;
}

.table-cell-11 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 29%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 2px;
  display: flex;
}

.text-10 {
  margin-top: 1px;
}

.table-cell-12 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: center;
  align-items: stretch;
  padding-top: 23px;
  padding-right: 16px;
  display: flex;
}

.table-cell-13, .table-cell-14 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 24px;
  padding-left: 21px;
  display: flex;
}

.table-cell-15 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 17%;
  justify-content: center;
  align-items: stretch;
  padding-top: 24px;
  display: flex;
}

.table-cell-2 {
  width: 115px;
  height: 227px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-11 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: .6rem;
  line-height: 20px;
  display: flex;
}

.button-instance {
  height: 50%;
  flex-basis: 8%;
}

.pagination-number-base {
  height: 65%;
  background-color: #487fe8;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 2%;
  justify-content: center;
  align-items: center;
  margin-left: 320px;
  padding-bottom: 1px;
  display: flex;
}

.pagination-number-base-instance, .pagination-number-base-1-instance, .pagination-number-base-2-instance, .pagination-number-base-3-instance, .pagination-number-base-4-instance, .pagination-number-base-5-instance {
  height: 100%;
  flex-basis: 4%;
  margin-left: 2px;
}

.button-1-instance {
  height: 50%;
  flex-basis: 6%;
  margin-left: 320px;
}

.flex-container-12 {
  color: #f9fafb;
  width: 100%;
  flex-direction: row;
  flex-basis: 2%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5px;
  margin-left: 2px;
  font-size: 1.2rem;
  line-height: 28px;
  display: flex;
}

.text-11 {
  align-self: flex-end;
  margin-right: 159px;
}

.frame-1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 53px;
}

.text-12 {
  margin-top: 1px;
}

.frame-2 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 172px;
}

.flex-container-13 {
  width: 100%;
  flex-direction: row;
  flex-basis: 34%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  display: flex;
}

.frame-8-1 {
  height: 100%;
  background-color: #151c20;
  border: 1px solid #393e46;
  border-radius: 12px;
  flex-direction: column;
  flex-basis: 51%;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.flex-container-14 {
  width: 100%;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: flex-start;
  align-items: stretch;
  font-weight: 700;
  line-height: 20px;
  display: flex;
}

.table-header-cell-6 {
  height: 100%;
  background-color: #393e46;
  border-radius: 8px 0 0 8px;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  display: flex;
}

.table-header-cell-7 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  display: flex;
}

.text-13 {
  text-transform: capitalize;
}

.table-header-cell-8 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  display: flex;
}

.text-14 {
  text-transform: capitalize;
}

.table-header-cell-9 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  display: flex;
}

.text-15 {
  text-transform: capitalize;
}

.table-header-cell-10 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-16 {
  text-transform: capitalize;
}

.table-header-cell-11 {
  height: 100%;
  background-color: #393e46;
  border-radius: 0 8px 8px 0;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-17 {
  text-transform: capitalize;
}

.flex-container-15 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-16 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.table-cell-17 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-18 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-19, .table-cell-20 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-21 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-16 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-22 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.table-cell-23 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-24 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-25, .table-cell-26 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-27 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-17 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-28 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.text-18 {
  margin-top: 1px;
}

.table-cell-29 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-30 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-31, .table-cell-32 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-33 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-18 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-34 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.text-19 {
  margin-top: 1px;
}

.table-cell-35 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-36 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-37, .table-cell-38 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-39 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-19 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-40 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  padding-right: 3px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.table-cell-41 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-42 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-43, .table-cell-44 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-45 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-20 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
  display: flex;
}

.table-cell-46 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 9px;
  font-size: .6rem;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.table-cell-47 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-48 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-49, .table-cell-50 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
  padding-left: 9px;
  display: flex;
}

.table-cell-51 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1px;
  padding-right: 10px;
  display: flex;
}

.flex-container-21 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  line-height: 20px;
  display: flex;
}

.button-2-instance {
  height: 50%;
  flex-basis: 16%;
}

.pagination-number-base-1 {
  height: 65%;
  background-color: #487fe8;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 5%;
  justify-content: center;
  align-items: center;
  margin-left: 53px;
  padding-bottom: 1px;
  display: flex;
}

.pagination-number-base-6-instance, .pagination-number-base-7-instance, .pagination-number-base-8-instance, .pagination-number-base-9-instance, .pagination-number-base-10-instance, .pagination-number-base-11-instance {
  height: 100%;
  flex-basis: 8%;
  margin-left: 2px;
}

.button-3-instance {
  height: 50%;
  flex-basis: 11%;
  margin-left: 53px;
}

.frame-8-2 {
  height: 100%;
  background-color: #151c20;
  border: 1px solid #393e46;
  border-radius: 12px;
  flex-direction: column;
  flex-basis: 48%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.flex-container-22 {
  width: 100%;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: flex-start;
  align-items: stretch;
  font-weight: 700;
  line-height: 20px;
  display: flex;
}

.table-header-cell-12 {
  height: 100%;
  background-color: #393e46;
  border-radius: 8px 0 0 8px;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  display: flex;
}

.table-header-instance-1 {
  height: 50%;
  flex-basis: 33%;
}

.table-header-cell-13 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  display: flex;
}

.text-20 {
  text-transform: capitalize;
}

.table-header-cell-14 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  display: flex;
}

.text-21 {
  text-transform: capitalize;
}

.table-header-cell-15 {
  height: 100%;
  background-color: #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  padding-right: 4px;
  display: flex;
}

.text-22 {
  text-transform: capitalize;
}

.table-header-cell-16 {
  height: 100%;
  background-color: #393e46;
  border-radius: 0 8px 8px 0;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  padding-right: 7px;
  display: flex;
}

.text-23 {
  text-transform: capitalize;
}

.flex-container-23 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  line-height: 14px;
  display: flex;
}

.table-cell-52 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 9px;
  font-size: .6rem;
  display: flex;
}

.table-cell-53 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
  padding-right: 5px;
  font-size: .6rem;
  display: flex;
}

.text-24 {
  margin-bottom: 4px;
}

.table-cell-54 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 9px;
  line-height: 17px;
  display: flex;
}

.text-25 {
  margin-bottom: 2px;
}

.table-cell-55 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 9px;
  line-height: 17px;
  display: flex;
}

.text-26 {
  margin-bottom: 2px;
}

.table-cell-3 {
  width: 59px;
  height: 68px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-24 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-size: .6rem;
  display: flex;
}

.table-cell-56 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 1px;
  line-height: 14px;
  display: flex;
}

.table-cell-57 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  line-height: 14px;
  display: flex;
}

.table-cell-58 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  font-size: .7rem;
  display: flex;
}

.table-cell-59 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  font-size: .7rem;
  display: flex;
}

.table-cell-4 {
  width: 59px;
  height: 68px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-25 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-60 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 3px;
  font-size: .6rem;
  line-height: 14px;
  display: flex;
}

.table-cell-61 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  font-size: .6rem;
  line-height: 14px;
  display: flex;
}

.table-cell-62 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  display: flex;
}

.table-cell-63 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  display: flex;
}

.table-cell-5 {
  width: 59px;
  height: 68px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-26 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  line-height: 14px;
  display: flex;
}

.table-cell-64 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 1px;
  font-size: .6rem;
  display: flex;
}

.table-cell-65 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  font-size: .6rem;
  display: flex;
}

.table-cell-66 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  line-height: 17px;
  display: flex;
}

.table-cell-67 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  line-height: 17px;
  display: flex;
}

.table-cell-6 {
  width: 59px;
  height: 68px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-27 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
  display: flex;
}

.table-cell-68 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-right: 3px;
  font-size: .6rem;
  line-height: 14px;
  display: flex;
}

.table-cell-69 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  font-size: .6rem;
  line-height: 14px;
  display: flex;
}

.table-cell-70 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  display: flex;
}

.table-cell-71 {
  height: 100%;
  border: 1px solid #393e46;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  display: flex;
}

.table-cell-7 {
  width: 59px;
  height: 54px;
  object-fit: cover;
  border: 1px solid #393e46;
}

.flex-container-28 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: space-evenly;
  align-items: center;
  font-size: .6rem;
  line-height: 20px;
  display: flex;
}

.button-4-instance {
  height: 50%;
  flex-basis: 17%;
  margin-right: 11px;
}

.pagination-number-base-2 {
  height: 65%;
  background-color: #487fe8;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 5%;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  padding-bottom: 1px;
  display: flex;
}

.pagination-number-base-12-instance, .pagination-number-base-13-instance, .pagination-number-base-14-instance, .pagination-number-base-15-instance, .pagination-number-base-16-instance, .pagination-number-base-17-instance-1 {
  height: 100%;
  flex-basis: 8%;
}

.button-5-instance-1 {
  height: 50%;
  flex-basis: 12%;
  margin-left: 31px;
}
